table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    width: auto;
    /* Set width to auto */
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* Light gray background color */
}
